@import '../styles/theme.scss';
@import '../styles/mixins.scss';

.contact {
    display: flex;
    
    @include mq(mobile) { flex-wrap: wrap; }

    padding-bottom: 0px;

    a.mail {
        color: white;
        text-decoration: none;
        font-size: 40px;
        display: block;
        margin-bottom: 20px;
    }

    a {
        img {
            width: 40px;
            margin-right: 10px;
        }

        &.pdf-download {
            color: white;

            i {
                font-size: 35px;
            }
        }
    }
    
    .left-section {

        @include mq($from: mobile) { margin-right: 20px; width: 100%; }
        @include mq($from: tablet) { margin-right: 40px; width: 25%; }
        @include mq($from: desktop) { margin-right: 60px; }
    }

    .right-section {
        flex: 1;

        @include mq($from: mobile) { padding: 20px; }
        @include mq($from: tablet) { padding: 40px; }
        @include mq($from: desktop) { padding: 60px; }
    }

    .bottom-text {
        width: 100%;
        text-align: center;
        color: #ccc;
        font-family: 'Oswald';
        
    }

    .commit-data {
        margin-top: 200px;
        width: 100%;
        font-family: 'Oswald';
        color: #999;
        text-align: center;
        font-size: 12px;

        a {
            color: #999;
        }
    }
    img.avatar {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }
}