@import '../styles/theme.scss';
@import '../styles/mixins.scss';

.experience {
    display: flex;
    
    @include mq(mobile) { flex-wrap: wrap; }
    @include mq($from: tablet) { flex-wrap: nowrap; }

    .left-section {
        @include mq($from: mobile) { margin-right: 20px;   }
        @include mq($from: tablet) { margin-right: 40px;  }
        @include mq($from: desktop) { margin-right: 60px; }
    }

    .right-section {

        @include mq($from: mobile) { padding: 20px; }
        @include mq($from: tablet) { padding: 40px; }
        @include mq($from: desktop) { padding: 60px; }
    }
}