@import '../styles/theme.scss';
@import '../styles/mixins.scss';

.job-list {
    list-style: none;
    font-family: 'Oswald';

    .job {
        border-bottom: 1px solid #999;
        width: 100%;

        h2 {
            margin-bottom: 0px;
        }

        h4 {
            color: #aaa;
            margin: 0px;
        }

        a {
            color: $primary;
        }
    }
}