@import '../styles/theme.scss';
@import '../styles/mixins.scss';

.skills {
    display: flex;
    
    @include mq(mobile) { flex-wrap: wrap; }
    @include mq($from: tablet) { flex-wrap: nowrap; }
    

    .left-section {
        color: $primary;


        @include mq($from: mobile) { margin-right: 20px; width: 100%; }
        @include mq($from: tablet) { margin-right: 40px; width: 25%; }
        @include mq($from: desktop) { margin-right: 60px; }
    }

    .right-section {
        flex: 1;

        @include mq($from: mobile) { padding: 20px; }
        @include mq($from: tablet) { padding: 40px; }
        @include mq($from: desktop) { padding: 60px; }
    }
}