@import '../styles/theme.scss';
@import '../styles/mixins.scss';

.skill-list {
    list-style: none;
    font-family: 'Oswald';

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    .skill {
        width: 40%;

        .skill-icon {
            margin-right: 10px;
            color: lighten($primary, 40);
        }
    }
}